name: New Release
run-name: Release v${{ github.event.inputs.tag }}
on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag"
        required: true
        default: "1.x.x"
      binary_build:
        description: "Build platform binaries"
        required: true
        default: true
        type: boolean
      is_latest:
        description: "Set as latest"
        required: true
        default: true
        type: boolean
      is_draft:
        description: "Set as draft"
        required: true
        type: boolean
        default: true

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-22.04-arm]
    if: ${{ github.event.inputs.binary_build == 'true' }}
    runs-on: ${{ matrix.os }}
    name: Create binary on ${{ matrix.os }}
    steps:
      - name: Clone client
        uses: actions/checkout@v3
        with:
          fetch-tags: true
          repository: swingmx/swingmusic
          ref: ${{ github.event.inputs.tag }}

      - name: Install Python 3.11
        uses: actions/setup-python@v2
        with:
          python-version: "3.11.x"

      - name: Create virtualenv
        run: |
          python -m venv .venv

      - name: Install libev (Linux)
        run: |
          sudo apt-get install libev-dev -y > /dev/null

      - name: Activate virtualenv (unix)
        run: |
          source .venv/bin/activate

      - name: Install swingmusic
        run: |
          pip install .

      - name: Build server
        run: |
          python run.py --build

      - name: Rename Unix binary
        run: |
          if [[ "${{ matrix.os }}" == *"arm"* ]]; then
            mv dist/swingmusic dist/swingmusic_linux_arm64
          else
            mv dist/swingmusic dist/swingmusic_linux_amd64
          fi

      - name: Verify Unix build success
        run: |
          if [[ "${{ matrix.os }}" == *"arm"* ]]; then
            if [ ! -f "./dist/swingmusic_linux_arm64" ]; then
              echo "Build failed"
              exit 1
            fi
          else
            if [ ! -f "./dist/swingmusic_linux_amd64" ]; then
              echo "Build failed"
              exit 1
            fi
          fi

      - name: Upload Unix binary
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os == 'ubuntu-22.04-arm' && 'linux-arm64' || 'linux-amd64' }}
          path: ${{ matrix.os == 'ubuntu-22.04-arm' && 'dist/swingmusic_linux_arm64' || 'dist/swingmusic_linux_amd64' }}
          retention-days: 1

  release:
    name: Create New Release
    runs-on: ubuntu-latest
    # if: false
    needs: [build]
    permissions: write-all
    steps:
      - name: Checkout into repo
        uses: actions/checkout@v3
      - name: Download all binaries
        uses: actions/download-artifact@v4
      - name: Upload binaries to GitHub Release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: "./linux-amd64/swingmusic_linux_amd64, ./linux-arm64/swingmusic_linux_arm64"
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ format('v{0}',inputs.tag) }}
          commit: ${{ github.sha }}
          draft: ${{ inputs.is_draft }}
          artifactErrorsFailBuild: true
          name: ${{ format('v{0}',inputs.tag) }}
          bodyFile: .github/changelog.md
          makeLatest: ${{ inputs.is_latest }}
